<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BizappcenterTest" verbose="1">
    <test name="Login Test">
        <classes>
            <class name="com.test.demoTest.AdminDemoTest">
                <methods>
                    <exclude name="loginAsAdmin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>